<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee, http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>JavaServletDemo</display-name>
  
  <servlet>  
    <servlet-name>FIrstHttpServlet</servlet-name>  
    <servlet-class>FIrstHttpServlet</servlet-class>  
  </servlet>
  
  <servlet>  
    <servlet-name>FormRequestServlet</servlet-name>  
    <servlet-class>FormRequestServlet</servlet-class>  
  </servlet>
  
  <servlet>  
    <servlet-name>DoaServlet</servlet-name>  
    <servlet-class>DoaServlet</servlet-class>  
  </servlet>
  
  <servlet-mapping>  
    <servlet-name>FormRequestServlet</servlet-name>  
    <url-pattern>/login</url-pattern>  
  </servlet-mapping> 
  
    <servlet-mapping>  
    <servlet-name>DoaServlet</servlet-name>  
    <url-pattern>/DoaServlet</url-pattern>  
  </servlet-mapping> 
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>shri.html</welcome-file>
  </welcome-file-list>
</web-app>